body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(98, 144, 230);
}

.container {

    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}

h1 {

    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

form {

    display: flex;
    flex-direction: column;
}

label {

    margin-bottom: 10px;
}

label #nome-sobrenome {

    flex-direction: row-reverse;
}

input {

    padding: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}


button {

    display: flex;
    cursor: pointer; 
}

.botao {
    
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    color: white;
    border: none;
    font-size: 18px;
    width: 50%;
    margin: auto;
    cursor: pointer;
    top: 23px;
}

.botao.disabled {
    background-color: #c9cac9;
    cursor: not-allowed;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    color: white;
    background-color: rgba(0, 0, 0, .4);
    transition: 1s;
    height: 14%;
    width: 95px;
    text-align: center;
    border-radius: 15%;
    left: 429px;
    top: 9px;
    font-size: 15px;
    cursor: pointer;
}

figure.foto-legenda img{
    box-shadow: 1px 1px 3px black;
    background-color: white;
    position: absolute;
    right: 61%;
    top: 1%;
    border: 2px solid;
    border-radius: 15%;
    border-color: rgb(56, 204, 68);
    height: 14%;
    width: 95px;
    

}

figure.foto-legenda:hover figcaption {
    opacity: 0.9;
}

button:hover .botao-enviar {

    background-color: rgb(56, 204, 68);
}