body {

    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(98, 144, 230);
}

.container {

    width: 500px;
    margin: auto;
    padding: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, .5);
    background-color: white;
    display: block;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
}

h1 {

    text-align: center;
    margin-bottom: 20px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .4);
}

form {

    display: flex;
    flex-direction: column;
}

label {

    margin-bottom: 10px;
}

label #nome-sobrenome {

    flex-direction: row-reverse;
}

input {

    padding: 10px;
    margin-bottom: 10px;
}


button {

    display: flex;
    cursor: pointer; 
}

.botao {
    
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    
    color: white;
    border: none;
    font-size: 18px;
    width: 50%;
    margin: auto;
    cursor: pointer;
}

.botao.disabled {
    background-color: #c9cac9;
    cursor: not-allowed;
}

.imagem-perfil {

    margin: auto;
    border: solid;
    border-color: rgb(128, 128, 248);
    border-radius: 15%;
    top: 0%;
    right: 0%;
    position: absolute;
    margin-top: 0px;
    margin-right: 830px;
    
}

#foto-perfil {

    height: auto;
    width: 80px;
    

}

button:hover .botao-enviar {

    background-color: rgb(63, 172, 72);
}